/*Estilos receta única*/

@import "../utilidades/extend";
@import "../utilidades/mixin";
@import "../utilidades/variables";

.main-recetaindv{
    .receta-unica{
        display: flex;
        justify-content: center;
        text-align: center;
        div{
            .imagen-receta-unica{
                display: block;
                margin: auto;

                @include tablet{
                    max-width: 30rem;
                }
                @include mobile {
                    max-width: 20rem;
                }
            }
            h2{
                margin: 15px;
                color: $color-principal;
            }
            p{
                padding-left: 20%;
                padding-right: 20%;
            }
        }
    }
    .lista-ingredientes{
        margin: 20px;
        display: flex;
        justify-content: center;
        text-align: center;

        @include tablet{
            margin: 10px;
        }
    }
    .pasos-receta{

                    margin: 20px;
                    padding-left: 30%;
                    padding-right: 30%;
                    display: flex;
                    justify-content: center;
                    text-align: left;

                    @include tablet{
                        padding-left: 10%;
                        padding-right: 10%;
                    }

                    @include mobile{
                        padding-left: 2%;
                        padding-right: 2%;
                    }
                    ol{
                        ul{
                            font-weight:bold;
                            text-align: center;
                        }
                        .ul-nota{
                            font-style: italic;
                            font-weight: lighter;
                            text-align: center;
                        }
                    }
                }
        div{
            button{
                margin: 15px;
                margin-left: auto;
                margin-right: auto;
                padding: 10px;
                border-radius: 15px;
                background-color: #950107;
                border-color: none;
                color: antiquewhite;
                display: flex;
                align-items: center;
            }
        }
}
        