%botones{
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: #950107;
    border-color: none;
    color: antiquewhite;
    display: flex;
    align-items: center;
}